{% extends 'clilib/managers/managers_base_template.html' %}

{% block header %}
      <h4> Изменение менеджера </h4>
      <div class="divider"></div>
{% endblock %}

{% block content %}
<form action="{% url 'managers_update_url' pk=manager.id %}" method="post">
  {% csrf_token %}
  <div class="form-row mx-1 p-0">
    <div class="form-group col-md-6">
      <label for="inputName">Имя</label>
      {{ form.name }}
    </div>
    <div class="form-group col-md-6">
      <label for="inputSername">Фамилия</label>
      {{ form.sername }}
    </div>
  </div>
  <div class="form-row mx-1 p-0">
    <div class="form-group col-md-6">
      <label for="inputEmail">Email</label>
      {{ form.email }}
    </div>
    <div class="form-group col-md-6">
      <label for="inputTelephone">Телефон</label>
      {{ form.telephone }}
    </div>
  </div>
  <div class="form-row mx-1 p-0">
    <button type="submit" class="btn btn-outline-success mx-2">Изменить</button>
    <a href="{% url 'managers_url' %}" class="btn btn-outline-secondary">Отмена</a>
  </div>
</form>

{% endblock %}
