{% extends 'clilib/clients/clients_base_template.html' %}

{% block header %}
<h4> Добавление клиента </h4>
{% endblock %}

{% block content %}
<form action="{% url 'clients_create_url' %}" method="post">
  {% csrf_token %}
  <div class="form-row mx-1 p-0">
    <div class="form-group col-md-6">
      <label for="inputTitle">Название</label>
      {{ form.title }}
    </div>
    <div class="form-group col-md-6">
      <label for="inputContract_number">Номер контракта</label>
      {{ form.contract_number }}
    </div>
  </div>
  <div class="form-row mx-1 p-0">
    <div class="form-group col-md-6">
      <label for="inputOrgname">Название организации в vCloud</label>
      {{ form.orgname }}
    </div>
    <div class="form-group col-md-6">
      <label for="inputManager">Ответственный менеджер</label>
      {{ form.manager }}
    </div>
  </div>
  <div class="form-row mx-1 p-0">
    <div class="form-group col-md-3">
      <div class="form-check mt-4 pt-3">
        {{ form.test }}
        <label class="form-check-label" for="inputTest">
          Даём тестовый период?
        </label>
      </div>
    </div>
    <div class="form-group col-md-3">
      <div class="form-check mt-4 pt-3">
        {{ form.stuff }}
        <label class="form-check-label" for="inputStuff">
          Для внутренних нужд?
        </label>
      </div>
    </div>
    <div class="form-group col-md-6 mt-4 pt-2">
      <button type="submit" class="btn btn-outline-success mx-2">Продолжить</button>
      <a href="{% url 'clients_url' %}" class="btn btn-outline-secondary">Отмена</a>
    </div>
  </div>
</form>
{% endblock %}
