{% extends 'clilib/clients/clients_base_template.html' %}

{% block header %}
<h4> Изменение услуги у клиента {{ client.title }} </h4>
{% endblock %}

{% block content %}
<form action="{% url 'clients_update_services_url' pk=client.id sk=service.id %}" method="post">
  {% csrf_token %}
  <div class="form-row mx-5 p-0">
    <div class="form-group col-md-6">
      <label for="inputType">Услуга</label>
      {{ form.type }}
    </div>
    <div class="form-group col-md-6">
      <label for="inputAmount">Количество</label>
      {{ form.amount }}
    </div>
  </div>
  <div class="form-row mx-5 p-0">
    <div class="form-group col-md-6">
      <label for="inputClient">Компания</label>
      {{ form.client }}
      {{ form.offered.as_hidden }}
    </div>
    <div class="form-group col-md-6 mt-4 pt-2">
      <button type="submit" class="btn btn-outline-success mx-2">Изменить</button>
      <a href="{% url 'client_detail_url' pk=client.id %}" class="btn btn-outline-secondary">Отмена</a>
    </div>
  </div>
</form>
{% endblock %}
